*{
    padding: 17px;
    margin: 10px;
}
h1{
    text-align: center;
}
.container{
    background: rgb(240, 142, 30);
    display: flex;
    justify-content: center;
}
body{
    background: rgb(16, 107, 100);
}

ul{
    list-style: none;
    text-align: center;
    
}
li{
    margin-top: 10px;
}
button{
margin-left: 30px;
}
#box_1{
    border: 2px solid black;
    width: 20vw;
    height: auto;
    text-align: center;
    background-color: rgb(174, 196, 214);
    cursor: alias;
    
}
#box_2{
    margin-left: 10px;
    background-color: rgb(174, 196, 214);
    border: 2px solid black;
    width: 20vw;
    height: auto;
    text-align: center;
    cursor: alias;
}